:root {
  /* Modo claro */
  --background-color: #ffffff;
  --text-color: #003366;
  --accent-color: #0056b3;
  --accent-color-dark: #004494;

  /* Modo oscuro */
  --background-color-dark: #1c1c1c;
  --text-color-dark: #f4c842;
  --accent-color-dark-mode: #d4a30a;

  /* GENERALES */
  --color-primary: #ffffff;
  --color-secondary: #007bff;
  --color-dark: #333333;
  --color-light: #f8f9fa;
  --color-hover: #0056b3;
  --transition-speed: 0.3s;
}
